*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#navbar{
  position: fixed;
  border-right: 1px solid black;
  height: 100%;
}
#main-doc{
  margin-left: 500px;
}
@media only screen and (max-width: 992px){
  #navbar{
    position: static;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* #navbar h1{
    text-align: center;
  } */
  #main-doc{
    margin: 30px;
  }
}